<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% if not times.is_day %} 
        <style>
            *{
                background-color: black;
                color:azure
            }
        </style>
    {% endif %}
</head>
<body>
    <h1>Hi bro,</h1>
    {% if times.is_day %}
        <p>Sunset time: {{ times.time_to }}</p>
    {% else %}
        <p>Sunrise time: {{ times.time_to }}</p>
    {% endif %}
</body>
</html>